.cart {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  
}

.btnPrimaryCustom {
  font-size: 0.9rem;
  letter-spacing: 0;
  word-spacing: -1px;
  box-shadow: 0 0 6px $primary;
  border: none;
  background: $primary;
  color: $white;
}
.btnLightcustom {
  font-size: 0.9rem;
  letter-spacing: 0;
  word-spacing: -1px;
  box-shadow: 0 0 6px $light2;
  border: none;
  background: $light2;
  color: #000;
}
.discountBox {
  .inputCustom {
    outline: none;
    box-shadow: none;
    border: none;
    background: $light2;
    direction: rtl;
    width: 200px;
    &:focus {
      &::placeholder {
        padding-right: 3px;
      }
    }
    &::placeholder {
      transition: all 0.2s;
      font-size: 0.9rem;
      letter-spacing: 0;
      word-spacing: -1px;
    }
  }
}
