@font-face {
  font-family: "iransans";
  src: url("./../fonts/iransans/woff2/IRANSansWeb.woff2"),
    url("./../fonts/iransans/woff/IRANSansWeb.woff"),
    url("./../fonts/iransans/ttf/IRANSansWeb.ttf"),
    url("./../fonts/iransans/eot/IRANSansWeb.eot");
  font-weight: normal;
}
@font-face {
  font-family: "iransans";
  src: url("./../fonts/iransans/woff2/IRANSansWebBold.woff2"),
    url("./../fonts/iransans/woff/Bold.woff"),
    url("./../fonts/iransans/ttf/IRANSansWebBold.ttf"),
    url("./../fonts/iransans/eot/IRANSansWebBold.eot");
  font-weight: bold;
}
