.step {
  background: $primary;
  nav {
    ol {
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      .breadcrumb-item + .breadcrumb-item::before {
        color: $light1;
        opacity: 0.5;
      }
      li {
        color: $light1;
        &.active {
          color: $white;
          a {
            opacity: 1;
          }
        }
        a {
          opacity: 0.5;
          color: $light1;
        }
      }
    }
  }
}
