@import "./fonts";
@import "./colors";
@import "./config";
@import "./cart";
@import "./allprice";
@import "./responsive";

a {
  text-decoration: none;
}
.margin1rem {
  margin-top: 1rem;
  padding-right: 0.5rem;
}
